
<br>
<h3> CSV Uploads </h3>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @csv_uploads.each do |rec| %>
    <tr>
      <td><%= link_to rec.name, csv_file_path(rec) %></td>
      <td><%= rec.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>  